.feedback {
  position: fixed;
  height: 100%;
  width: 440px;
  margin-right: -440px;
  right: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: $button-background;
  transition: all 1s ease-in-out;
  z-index: 100;
}

.feedback_form {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  input, textarea {
    padding: 1rem;
    margin: 0.5rem 0;
    border-radius: 15px;
    border-color: $button-border-grey;
    background-color: transparent;
    border-style: solid;
  }

  textarea {
    resize: none;
    height: 100px;
  }

  span {
    color: $text-pink;
  }
}

.feedback_form__text {
  color: $button-text-grey;
}

.feedback__header--left_align {
  justify-content: left;
}

.feedback_form__button--right {
  float: right;
}
