/* VARIABLES */


/* GENERAL STYLES */


/* BLOCKS */

.header {
  //width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem;
}

/* ELEMENTS */

.header__icon-background {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo-background {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo {
  height: 80%;
  width: 80%;
}

.header__icon-background__icon {
  width: 50%;
  height: 50%;
  aspect-ratio: 1;
}

.header__icon-background__button {
  background-color: transparent;
  border: none;
}

.header__icon-background__button:hover {
  filter: grayscale(100%);
}

.header__divider {
  width: 65%;
  height: 65%;
}

/* MODIFIERS */

.header--color {
  background-color: white;
}

.header__icon-background--bg-circle {
  background-image: url("../img/icon_bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60% 60%;
  padding: 0 1rem;
}

.header__icon-background--margin-left {
  margin-left: auto;
}

.header__items--margin {
  //margin: 1rem;
}

.main-content__header--hidable{
  display: none;
}

@media (max-width: 769px) {
  .main-content__header--hidable{
    display: block;
  }
}

@media (min-width: 769px) {
  .header__icon-background--hide{
    display: none;
  }
}