/* VARIABLES */


/* GENERAL STYLES */


/* BLOCKS */

.wrapper {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  padding: 0;
  background-color: $main-background;
}

.header {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem;
}

/* ELEMENTS */

.header__icon-background {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo-background {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo {
  height: 80%;
  width: 80%;
}

.header__icon-background__icon {
  width: 65%;
  height: 65%;
  aspect-ratio: 1;
}

.header__divider {
  width: 65%;
  height: 65%;
}

/* MODIFIERS */

.header--color {
  background-color: white;
}

.header__icon-background--bg-circle {
  background-image: url("../img/icon_bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 0 1rem;
}

.header__items--margin {
  margin: 1rem;
}
