/* BLOCKS */
.prices {
  margin-bottom: 2rem;
}

.prices__table {
  display: grid;
  grid-template-columns: 50% 20% 10% 20%;
  grid-template-rows: auto repeat(4, 1fr);
  overflow-x: auto;
  margin: 1rem;
  grid-row-gap: 0;
}

/* ELEMENTS */

.prices__table__td, .prices__table__th {
  font-size: 1.1rem;
}

.prices__table__td {
  background-color: $button-background;
  padding: 1rem;
  border-bottom: 1px solid $button-border-grey;
}

.prices__table__th {
  font-size: 1rem;
  color: $button-text-grey;
  padding: 1rem;
}

.prices__table__td__button {
  background-image: url("../img/button_oval.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;

  img {
    width: 10%;
    padding-right: 1rem;
  }

  p {
    font-weight: bold;
    color: $button-background;
    font-size: 0.9rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.prices__table__td__button:hover {
  filter: opacity(50%);
}

/* MODIFIERS */
.prices__table__td--flex {
  display: flex;
  justify-content: center;
}
