/* VARIABLES */


/* GENERAL STYLES */


/* BLOCKS */

.services {
  overflow: scroll;
  margin-bottom: 2rem;
}

.tab {
  flex-shrink: 1;
  display: grid;
  grid-template-columns: repeat(6, minmax(250px,1fr));
  margin: 1rem 1rem 2rem 1rem;
  overflow-x:auto;
}

.tab-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 1rem;
}

/* ELEMENTS */

.tab__button {
  border-style: none;
  font-size: 1.1rem;
  font-family: 'TT Lakes Medium', sans-serif;
  padding: 0.5rem;
  color:$button-text-grey;
}

.tab__button:hover {
  border-style: solid;
  border-color: $button-border-blue;
  background-color: white;
}

.services__signboard {
  height: 100%;
  width: 100%;
  min-width: 320px;
  min-height: 176px;
  max-width: 530px;
  max-height: 307px;
}

.tab-content__text {
  word-wrap: normal;
  width: 50%;
}

.services__h1 {
  border-left: solid #41F6D7;
  padding-left: 1rem;
}

.tab-content__text-next {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 2rem;
}

/* MODIFIERS */

.tab-content__text--font-size {
  font-size: 1.1rem;
}

.tab-content__text--bold {
  font-weight: bold;
}


@media (max-width: 1060px) {
  .tab-content__text {
    width: 100%;
  }

}