body {
  font-family: 'TT Lakes Regular', sans-serif;
  margin: 0 auto;
  padding: 0;
  background-color: $main-background;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  position: relative;
  padding-left: 320px;
  left: 0;
}

.main-content {
  display: block;
}

.auto-fade-in {
  opacity: 1;
  transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
}

@media (min-width: 768px) {
  .menu {
    left: 320px;
  }
}

@media (min-width: 769px) {
  .feedback__header--hidable {
    display: none;
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding-left: 0;
  }
}
