@import '~normalize.css';
@import 'style/fonts';
@import 'style/var';
@import 'style/style';
@import 'style/header';
@import 'style/services';
@import 'style/menu';
@import 'style/brands';
@import "style/devices";